Repository cisagov/guacamole-composition, pull requests merged in 2021-12, with the labels that each got.

#32 Modify Docker composition to always restart the guacscanner service
  docker-compose.yml
Labels: improvement

#31 Update cisagov/guascanner version used
  README.md
  docker-compose.yml
  src/secrets/windows-sftp-base
Labels: improvement, dependencies

#33 Use the latest guacscanner Docker image
  docker-compose.yml
Labels: improvement, version bump
